/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.navbar {
  background: linear-gradient(90deg, #111, #333);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.nav-actions {
  display: flex;
  gap: 20px;
}

.nav-btn {
  cursor: pointer;
  font-size: 15px;
}

.nav-btn:hover {
  text-decoration: underline;
}

/* CATEGORY BAR */
.category-bar {
  background: #f5f5f5;
  padding: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.category-bar button {
  padding: 10px 18px;
  border: none;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.category-bar button:hover {
  background: #111;
  color: white;
}

/* PRODUCTS GRID */
.products {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

/* PRODUCT CARD */
.product {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.product:hover {
  transform: translateY(-6px);
}

.product img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background: #f7f7f7;
  border-radius: 8px;
}

.product h4 {
  margin: 10px 0;
}

.product p {
  font-weight: bold;
  margin-bottom: 10px;
}

.product button {
  padding: 10px;
  width: 100%;
  border: none;
  background: #111;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.product button:hover {
  background: #333;
}
/* SEARCH BAR */
.search {
  width: 300px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}
#sizes button {
  padding: 6px 12px;
  margin-right: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#sizes button:hover {
  background: #111;
  color: white;
}
#sizes button.active {
  background: #111;
  color: white;
  border-color: #111;
}